.final-cta {
  position: relative;

  min-height: 700px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: var(--white);

  background:
    url("/images/rose-ted-final.jpg")
    center / cover no-repeat;
}

.final-cta-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0,0,0,.75);
}

.final-cta-content {
  position: relative;
  z-index: 2;

  width: 90%;
}

.final-cta-content > p {
  color: var(--baby-yellow);

  font-size: 9px;
  letter-spacing: 5px;
}

.final-cta h2 {
  margin-top: 25px;

  font-family: var(--heading-font);

  font-size: clamp(70px, 10vw, 130px);

  font-weight: 300;

  line-height: .75;
}

.final-cta h2 span {
  display: block;

  color: var(--baby-yellow);

  font-style: italic;
}

.final-heart {
  margin: 35px 0 15px;

  color: var(--baby-yellow);

  font-size: 18px;
}

.final-names {
  font-family: var(--heading-font);

  font-size: 35px;
}

.final-names i {
  color: var(--baby-yellow);
}

.final-date {
  margin-top: 10px;

  font-size: 9px;
  letter-spacing: 5px;

  color: rgba(255,255,255,.55);
}

.final-cta a {
  display: inline-block;

  margin-top: 35px;

  padding: 15px 30px;

  background: var(--baby-yellow);

  color: var(--black);

  font-size: 9px;
  letter-spacing: 2px;

  transition: .3s ease;
}

.final-cta a:hover {
  background: var(--white);
}