.faq {
  padding: 130px 0;

  background: var(--white);
}

.faq-container {
  width: 90%;
  max-width: 900px;

  margin: auto;
}

.faq-header {
  text-align: center;

  margin-bottom: 70px;
}

.faq-header > p {
  color: var(--gold);

  font-size: 9px;
  letter-spacing: 5px;
}

.faq-header h2 {
  margin-top: 15px;

  font-family: var(--heading-font);

  font-size: clamp(50px, 7vw, 80px);

  font-weight: 300;
  line-height: .9;
}

.faq-header h2 span {
  display: block;

  color: #77736a;

  font-style: italic;
}

.faq-list {
  border-top: 1px solid #ded8c9;
}

.faq-item {
  border-bottom: 1px solid #ded8c9;
}

.faq-item button {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 28px 0;

  border: none;
  background: transparent;

  cursor: pointer;

  text-align: left;
}

.faq-item button span {
  font-family: var(--heading-font);

  font-size: 28px;

  color: var(--black);
}

.faq-item button strong {
  color: var(--gold);

  font-size: 20px;

  font-weight: 300;
}

.faq-answer {
  max-height: 0;

  overflow: hidden;

  transition: max-height .4s ease;
}

.faq-item.open .faq-answer {
  max-height: 200px;
}

.faq-answer p {
  max-width: 700px;

  padding: 0 0 28px;

  color: var(--muted);

  font-size: 11px;
  line-height: 1.9;
}

@media(max-width:600px) {

  .faq {
    padding: 90px 0;
  }

  .faq-item button span {
    font-size: 23px;
  }
}